@import "compass/reset";

body
{
    background-color: #FFF8E3;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    padding: 0;
    margin: 0;
    color: #696969;
}

header
{
	margin: 0;
	padding: 0;
    width: 100%;
    text-align: center;
}

footer
{
	padding: 0px 0 0 10px;
	border-top: thin #4671D5 solid;
    margin: 0 auto;
    text-align: center;
	height: 50px;
    width: 700px;
}

footer p
{
    text-align: left;
    float: left;
    font-size: 8px;
    display: inline;
}

#page
{
    width: 100%;
}

.error
{
    color: red;
}

.message
{
    border: black solid 1px;
}

#top-bar
{
    display: inline-block;
    width: 700px;
    margin: 0 auto;
}

#logo
{
    display: inline;
    font-size: 26px;
    font-family: Papyrus, Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    display: inline;
    float: left;
}

#logo > a
{
    text-decoration: none;
}

#nav-bar
{
    text-align: center;
    margin: 0 auto;
    display: inline;
    float: right;
}

nav.primary
{
    display: inline-block;
    text-align: right;
}

nav.primary ul
{
    margin: 2px;
    padding: 0;
}

nav.primary ul li
{
    list-style: none;
    display: inline;
}

nav.authentication
{
    display: inline-block;
    text-align: left;
}

nav.authentication ul
{
    margin: 2px;
    padding: 0;
}

nav.authentication ul li
{
    list-style: none;
    display: inline;
}

nav.footer
{
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0;
    font-size: 10px;
}

nav.footer ul li
{
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

form {
    display: inline-block;
    width: 100%;
}

form > * {
    float: left;
    display: inline;
    width: 100px;
}

div {
    position: relative;
}

textarea {
    resize: none;
}

#content
{
    width: 800px;
    text-align: center;
    margin: 10px auto 10px auto;
    padding: 10px 10px 10px 10px;
    background-color: #FFFAE4;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#prune-form {
    display: inline-block;
    width: 500px;
}

#main-url-container {
    width:500px;
}

#long-url {
    width: 100%;
    height: 150px;
}

#shorten {
    display: inline;
    float: right;
    margin-top: 5px;
}

#short-link {
    text-align: left;
}

#short-link > h2 {
    display: inline;
    font-size: 18px;
    font-weight: bold;
}

#short-link > label {
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

#copy-button {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.profile {
    display: inline-block;
    width: 100%;
}

.profile-picture {
    float: left;
    width: 100px;
    display: block;
    text-align: right;
}

.profile-picture > img {
    padding-right: 5px;
}

.profile-details {
    float: left;
    position: relative;
    text-align: left;
    display: block;
    width: 600px;
}

.profile-details > div {
    display: inline-block;
    padding-bottom: 8px;
}

.profile-username {
    font-weight: bold;
    font-size: large;
}

.profile-websites {
}

.profile-websites > ul >li {
    list-style: none;
}

.profile-twitter {
}

.profile form {
    width: 400px;
}

form > label, form > input, form > textarea {
    display: block;
    width: 120px;
    float: left;
    margin-bottom: 10px;
}

form > label {
    text-align: right;
    padding-right: 20px;
}

form > input[type='submit'] {
    float: right;
}

br {
    clear: left;
}
