{% extends "master.html" %}

{% block content %}
{% if user_profile %}
<div>
    <img id="profile-pic" src="{{ user_profile.picture_url }}"  alt="Profile Picture from Gravatar"/>
    <form action="/profile/edit" method="post">
        <label for="display-name">Display Name</label><input name="display-name" id="display-name" type="text" value="{{ user_profile.display_name }}" />
        <label for="about">About Myself</label><textarea name="about" id="about" cols="50" rows="5">{{ user_profile.about }}</textarea>
        <label for="twitter">Twitter</label><input name="twitter" id="twitter" type="text" value="{{ user_profile.twitter }}" />
        <label for="websites">Websites</label><textarea name="websites" id="websites" cols="50" rows="5">{{ websites_list }}</textarea>
        <input type="submit" value="Update"/>
    </form>
</div>
{% endif %}
{% endblock %}
