{% extends "master.html" %}

{% block content %}
<div id="prune-form">
<form action="/" method="post">
    <div id="main-url-container">
        <textarea name="long-url" id="long-url"></textarea><br/>
    <!--
        <label for="custom-short-url">Custom Short URL:</label>
        <input name="custom-short-url" id="custom-short-url" type="text" />
    -->
        <input id="shorten" name="shorten" type="submit" value="Shorten"/>
    </div>
</form>
{% if short_url %}
        <div id="short-link">
            <script type="text/javascript" src="/scripts/ZeroClipboard.js"></script>
            <h2>Shortened Link:</h2> <label>http://prun.in/{{ short_url }}</label> <div id="copy-button">Copy</div>
            <script type="text/javascript">
                ZeroClipboard.setMoviePath('/flash/ZeroClipboard.swf');
                var clip = new ZeroClipboard.Client();
                clip.setHandCursor(true);
                clip.setText("http://prun.in/{{ short_url }}");
                clip.glue('copy-button');
            </script>
        </div>
    <br/>
{% endif %}

    <script>
        $(document).ready(function() {
            $("#shorten").button();
{% if short_url %}
            $("#copy-button").button();
{% endif %}
        });
    </script>
</div>
{% endblock %}
