{% extends "master.html" %}

{% block page_scripts %}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}

{% block content %}
{% if link_stats %}
        <div>
            <h1>{{ link_stats.title }}</h1>
            {{ link_stats.click_count }} out of {{ link_stats.total_click_count }}
            <a href="/stats/{{link_stats.aggregate_url}}">Aggregate Stats</a>
        </div>
        <div class="charts-container">
            <div class="chart">{% include "charts/clicks.html" %}</div>
            <div class="chart">{% include "charts/referrers.html" %}</div>
            <div class="chart">{% include "charts/locations_map.html" %}</div>
            <div class="chart">{% include "charts/browsers.html" %}</div>
            <div class="chart">{% include "charts/operating_systems.html" %}</div>
        </div>
{% else %}
        Invalid link
{% endif %}
{% endblock %}
