<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}prun.in{% endblock %}</title>
    <!-- Modernizr -->
    <script src="/scripts/modernizr-1.6.min.js" type="text/javascript"></script>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <!-- YUI3 CSS-Base -->
    <link href="//yui.yahooapis.com/3.2.0/build/cssbase/base-min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/site.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
    <header>
        <div id="top-bar"></div>
        <div id="nav-bar">
            <nav class="primary">
                <ul>
                    <li><a href="blog.prun.in">Blog</a></li>
                    <li><a href="apidocs.prun.in">API</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
            <div id="logo">
                prun.in
            </div>
            <nav class="authentication">
                <ul>
                    {% if not user %}
                    <li><a href="{{ login_url }}">Login</a></li>
                    {% else %}
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="{{ logout_url }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <footer>
        &copy; CodeMangler, 2010. All rights reserved.
    </footer>
</div>
</body>
</html>
