<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}prun.in{% endblock %}</title>
    <!-- Modernizr -->
    <script src="/scripts/modernizr-1.6.min.js" type="text/javascript"></script>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
    <!-- jQuery UI -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
    {% block page_scripts %}{% endblock %}
    <!-- YUI3 CSS-Base -->
    <link href="//yui.yahooapis.com/3.2.0/build/cssbase/base-min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/site.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
    <header>
        <div id="top-bar">
            <div id="logo">
                <a href="/">prun.in</a>
            </div>
            <div id="nav-bar">
                <nav class="primary">
                    <ul>
                        <li><a id="stats-action" href="/stats">Stats</a></li>
                    </ul>
                </nav>
                <nav class="authentication">
                    <ul>
                        {% if not user %}
                        <li><a id="login-action" href="{{ login_url }}">Login</a></li>
                        {% else %}
                        <li><a id="profile-action" href="/profile">Profile</a></li>
                        <li><a id="logout-action" href="{{ logout_url }}">Logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <p>&copy; Creative Ward, 2010. All rights reserved.</p>
        <nav class="footer">
            <ul>
                <li><a href="http://blog.prun.in">Blog</a></li>
                <li><a href="http://apidocs.prun.in">API</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </footer>
</div>
<script>
    $(document).ready(function() {
        $("#stats-action").button();
        $("#profile-action").button();
        $("#login-action").button();
        $("#logout-action").button();
    });
</script>
</body>
</html>
