{% extends "master.html" %}

{% block content %}
{% if user_profile %}
<div class="profile">
    <div class="profile-picture">
        <img src="{{ user_profile.picture_url }}" alt="Profile Picture from Gravatar"/>
    </div>
    <div class="profile-details">
        <div class="right">
            <a id="profile-edit-button" href="/profile/edit">Edit</a>
        </div>
        {% if user_profile.display_name %}
        <div class="profile-username">
        {{ user_profile.display_name }}
        </div>
        {% endif %}
        <br/>
        {% if user_profile.websites %}
        <div class="profile-websites">
        <ul>
            {% for website in user_profile.websites %}
            <li><a href="{{ website }}">{{ website }}</a></li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        <br/>
        {% if user_profile.twitter %}
        <div class="profile-twitter">
            <a href="http://twitter.com/#!/{{ user_profile.twitter }}">{{ user_profile.twitter }}</a>
        </div>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#profile-edit-button").button();
    });
</script>
{% endif %}
{% endblock %}
